.course-details {
    display: flex;
    border-bottom: 1px solid lightgray;
    margin-bottom: 5px;
    margin-right: 10px;
    padding-bottom: 5px;
    box-shadow: 5px 1px 5px #aaaaaa;
    background: linear-gradient(51deg, rgba(142,69,252,1) 0%, rgba(32,254,251,1) 51%, rgba(32,254,251,1) 100%);
    border-radius: 20px;
    color: whitesmoke;
}

.course-p {
    padding: 30px;
}
.main-button {
    background-color: rgb(255, 186, 13);
    width: 150px;
    height: 30px;
    border: 1px solid darkgray;
    border-radius: 5px;
    cursor: pointer;
}